.timeline-card {
  transition: transform 0.3s ease-in-out;
}

.timeline-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  /* border: 5px; */
  /* color: black; */
}
